---
name: 'Build'

on:
  push:
    tags:
      - 'v*'
    branches:
      - master
    paths-ignore:
      - '*.git**'
      - '**.md'
      - '**.yml'
      - 'LICENSE'

jobs:
  build:
    name: 'Build'
    runs-on: 'ubuntu-latest'
    steps:
      - uses: 'actions/checkout@v5'
      - name: 'Get tag name'
        if: startsWith(github.ref, 'refs/tags/')
        run: 'echo "MODULE_VERSION=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_ENV'
      - name: 'Get commit sha'
        if: startsWith(github.ref, 'refs/heads/')
        run: 'echo "MODULE_VERSION=${GITHUB_SHA}" >> $GITHUB_ENV'
      - name: 'Create module archive'
        uses: 'TheDoctor0/zip-release@0.7.5'
        with:
          filename: 'supl-replacer-${{ env.MODULE_VERSION }}.zip'
          exclusions: '*.git* *.md *.yml LICENSE lint/*'
      - name: 'Upload the build artifact'
        uses: 'actions/upload-artifact@v4'
        with:
          name: 'supl-replacer'
          path: 'supl-replacer-${{ env.MODULE_VERSION }}.zip'
  publish:
    name: 'Publish'
    runs-on: 'ubuntu-latest'
    needs: 'build'
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: 'actions/checkout@v3'
      - name: 'Get tag name'
        run: 'echo "MODULE_VERSION=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_ENV'
      - name: 'Download the build artifact'
        uses: 'actions/download-artifact@v4'
        with:
          name: 'supl-replacer'
      - name: 'Create GitHub Release'
        uses: 'anton-yurchenko/git-release@v5.0.1'
        env:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
        with:
          args: |
            supl-replacer-${{ env.MODULE_VERSION }}.zip
