---
name: 'Lint'

on:
  pull_request:
    branches:
      - 'master'
    paths:
      - '**.sh'
      - '**.md'

jobs:
  shellcheck:
    name: 'ShellCheck'
    runs-on: 'ubuntu-latest'
    steps:
    - uses: 'actions/checkout@v5'
    - name: 'Run shellcheck'
      uses: 'azohra/shell-linter@latest'
      with:
        path: '*.sh'
  markdown-lint:
    name: 'Markdown Lint'
    runs-on: 'ubuntu-latest'
    steps:
    - uses: 'actions/checkout@v5'
    - name: 'Run markdownlint'
      uses: 'avto-dev/markdown-lint@v1'
      with:
        rules: '/lint/rules/changelog.js'
        config: '/lint/config/changelog.yml'
        args: './CHANGELOG.md'
